In [30]:
import pandas as pd

In [31]:
df = pd.read_excel("../interpolation/interpolated_anh.xlsx")
df.head()

Exception ignored in: <function ZipFile.__del__ at 0x00000170FC496A20>
Traceback (most recent call last):
  File "c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\zipfile.py", line 1870, in __del__
    self.close()
  File "c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\zipfile.py", line 1887, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file

,unix_time,datetime,person,value,confidence,activity,sleep_duration,stress_lvl
0,1706035129,2024-01-23 19:38:49,Anh,200.0,70.0,Chill,0.0,0.000000
1,1706035134,2024-01-23 19:38:54,Anh,111.0,100.0,Chill,0.0,0.000494
2,1706035140,2024-01-23 19:39:00,Anh,51.0,100.0,Chill,0.0,0.000989
3,1706035145,2024-01-23 19:39:05,Anh,50.2,0.0,Chill,0.0,0.001483
4,1706035150,2024-01-23 19:39:10,Anh,49.4,0.0,Chill,0.0,0.001978

In [32]:
delete_date = '2024-01-23'
df = df[df['datetime'].dt.date != pd.to_datetime(delete_date).date()]
df = df.loc[df['sleep_duration'] != 0]
df.head()

,unix_time,datetime,person,value,confidence,activity,sleep_duration,stress_lvl
926,1706086869,2024-01-24 10:01:09,Anh,171.1,0.0,Chill,8.0,0.457849
927,1706086870,2024-01-24 10:01:10,Anh,171.0,0.0,Chill,8.0,0.458344
928,1706086872,2024-01-24 10:01:12,Anh,170.9,0.0,Chill,8.0,0.458838
929,1706086873,2024-01-24 10:01:13,Anh,170.8,0.0,Chill,8.0,0.459333
930,1706086874,2024-01-24 10:01:14,Anh,170.7,0.0,Chill,8.0,0.459827

In [33]:
df.drop(columns=['unix_time', 'person', 'value', 'confidence','activity', 'sleep_duration'], inplace=True)
df.head()

               datetime  stress_lvl
926 2024-01-24 10:01:09    0.457849
927 2024-01-24 10:01:10    0.458344
928 2024-01-24 10:01:12    0.458838
929 2024-01-24 10:01:13    0.459333
930 2024-01-24 10:01:14    0.459827

In [34]:
df['stress_lvl'] = df['stress_lvl'].round(0)
df.head()

               datetime  stress_lvl
926 2024-01-24 10:01:09         0.0
927 2024-01-24 10:01:10         0.0
928 2024-01-24 10:01:12         0.0
929 2024-01-24 10:01:13         0.0
930 2024-01-24 10:01:14         0.0

In [35]:
df.to_excel('report_preprocessed_anh.xlsx', index = False)